{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
<style>
body  {
  background-image: url("static/images/snow-mountain.jpg");
}
</style>
<div align="center">
    <div class="h2">
			<h1>Hello, <strong>{{ full_name }}</strong>. Here is your ski/snowboard information:</h1>
			<br>
			<div class="card bg-light" style="width: 50rem;" align="left">
			  <ul class="list-group list-group-flush">
				<li class="list-group-item"><strong>Skier or Snowboarder:</strong> {{ skier_or_snowboarder }}</li>
				<li class="list-group-item"><strong>Skill Level:</strong> {{ skill_level }}</li>
				<li class="list-group-item" row="3"><strong>Bio:</strong> <small>{{ bio }}</small></li>
			  </ul>
			</div>
			<br>
	</div>
	<div class="container">
		<div class="card bg-light" style="width: 65rem;">
			<div class="col mt-3 mb-3">
				<h2><strong>Check the City you want to Ski or Snowboard in:</strong></h2>
					</div>
				<form action="/home" method="POST">
					<div class="form-group">
						<label for="city">
							<input class="form-control form-control-lg" type="text" name="city"
								   placeholder="Enter a city" id="city" required>
							<br>
							<button type="submit" class="btn btn-primary btn-sm">submit</button>
						</label>
					</div>

					<div class="result1"><h2><strong>{{ result1 }}</strong></h2></div>
					<div class="result2"><h2><strong>{{ result2 }}</strong></h2></div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}