{% extends "base.html" %}
{% block title %} Ride Posts {% endblock %}

{% block content %}
    <br>
    <a type="submit"
       href="{{ url_for('views.new_post') }}"
       class="btn btn-info">Make a Post
    </a>
    {# loop through ride posts and display them on the page. With pagination #}
    {% for ride_post in ride_posts.items %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('views.user_profile', user_clicked_on=ride_post.author.id) }}">
                  {{ ride_post.author.full_name }}</a>
              <small class="text-muted">{{ ride_post.date_posted.strftime('%B %d, %Y') }}</small>
            </div>
            <h2><a class="article-title"
                   href="{{ url_for('views.single_post', post_id=ride_post.id) }}">{{ ride_post.title }}</a></h2>
            <p class="article-content">{{ ride_post.content }}</p>
          </div>
        </article>
    {% endfor %}
    {% for page_num in ride_posts.iter_pages() %}
    {% if page_num %}
        {% if ride_posts.page == page_num %}
            <a class="btn btn-info mb-5" href="{{ url_for('views.posts', page=page_num) }}">{{ page_num }}</a>
        {% else %}
            <a class="btn btn-outline-info mb-5" href="{{ url_for('views.posts', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
    {% else %}

    {% endif %}
    {% endfor %}
{% endblock %}